<h1>Listing #<%= @car.id %></h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Color</th>
    <th>Year</th>
    <th>Mileage</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @car.color %></td>
    <td><%= @car.year %></td>
    <td><%= @car.mileage %></td>
    <td><%= @car.description %></td>
  </tr>
</table>
<%= link_to 'Car Listing Index', cars_path %>

